:root {
    --primary-color: #0982e5;
}

body {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000000;
    color: white;
    
}
main {
    box-shadow: inset 0 0 0 1000px rgba(44, 135, 130, 0.75)
}

h1, h2, h3, h4 {
    color: #fff;
    font-size: 15px;
}

p {
    margin: 0.5rem 0;
}

fieldset {
    text-align: left;

}


/* Buttons */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
    border-radius: 2px;
    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.75;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 2rem;
}
/*///////////////////////////////////////////////*/

.showcase {
    width: 90%;
    height: 500px;
    background:linear-gradient(#e66465, #9198e5);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin:0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.showcase-top {
	position: relative;
	z-index: 2;
	height: 90px;
}
/*  Quiz App text  */
.showcase-top h1 {  
	width: 300px;
	position: relative;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
    margin-left: 0;
    color: white;
    font-size: 50px;
    
}

.showcase-top p {
	transform: translate(-50%, -50%);
    color: var(--primary-color)
}

.showcase-content {
	position: relative;
	z-index: 2;
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 9rem;
}

.showcase-content p {
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	font-size: 1.9rem;
	line-height: 1.25;
	margin: 0 0 2rem;
}

.showcase-content h1 {
	font-weight: 700;
	font-size: 5.2rem;
	line-height: 1.1;
	margin: 0 0 2rem;
}



.quiz-app {
    width: 100%;
    height: 93vh;
    position: relative;
    font: 15px;
}

.quiz-app h3 {

}

.quiz-app form {

}

.quiz-app fieldset {

}

.quiz-app h4 {

}

.quiz-app ul {
    list-style: none;
}

.quiz-app ul li {


}

.quiz-app input {}

.quiz-app label {}


/* /////////////////////////////////////// */
.correct{
    font-size: 15px;
    margin-top: 90px;
    font-weight: bold;
}
}

.incorrect{
    font-size: 15px;
    margin-top: 50px;
    font-weight: bold;
}
h1{
    margin-top: 40px;

}

quote.correct{ /* not sure if q or quote is an element*/
    margin-top: 3
}
p.incorrect{
    font-size: 15px;
    font-weight: bold;
}
p.correct{
    margin-top:20px;
}
p {
    margin-top: 40px;
}
label {
    font-weight: bold;
}


    /*background:  rgba(44, 135, 130, 0.6);  /*
}

fieldset {
    /*background: rgba(44, 135, 130, 0.6); */
}


.quiz-form {
}

.scores {
    height: 20px;
}

.js-description {
}

.js-score-correct {
    color: greenyellow;
    padding: 2px;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    position: relative;
    top: -20px;
    left:2px;

}

.js-score-incorrect {
    color:rgb(238, 0, 0);
    padding: 2px;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    position: relative;
    top: -42px;
    left: 21px;
}

.js-submit-button {
    font-size: 15px;
}

.js-start-button {
    font-size: 15px;
}

button.js-next-button {
    font-size: 15px;
}

.js-input {

}



@media (max-width: 960px) {
}